<template>
  <div 
    class="container max-w-md mx-auto md:max-w-lg md:flex md:flex-column bg-white rounded-lg md:rounded-3xl p-4 md:p-7 border border-white relative md:mb-8">
    <slot></slot>
  </div>
</template>

<script lang="ts">
export default {
  name: 'BoxComponent'
};
</script>

<style>
@media (min-width: 768px) {
  .container {
    max-width: max-w-md;
  }
}

</style>
