<template>
    <div class="text-left text-blue-900 font-extrabold text-2xl mt-6">
      <div>
        <div class="flex items-center justify-center">
          <div>{{ question }}</div>
          <img v-if="flagUrl" :src="flagUrl" alt="Flag" class="w-10 h-8 mb-7 mr-13" />
        </div>
        <img src="../assets/images/adventure.svg" class="absolute right-0 top-6 -mt-28">
        <div class="mt-8">
          <button
            v-for="(option, index) in options"
            :key="index"
            :class="getOptionClass(option)"
            @click="selectOption(option)">
            <span class="font-bold m-4">{{ option.letter }}</span> <span style="font-weight: 400;">{{ option.text }}</span> 
          </button>
        </div>
      </div>
    </div>
  </template>
  
  <script lang="ts">
  import { defineComponent } from 'vue';
  import axios from 'axios';
  
  interface Option {
    letter: string;
    text: string;
    isCorrect: boolean;
    selected: boolean;
  }
  
  export default defineComponent({
    props: {
      question: String,
      flagUrl: String,
      options: Array as () => Option[],
      quizEnded: Boolean
    },
    methods: {
      getOptionClass(option: Option) {
        return [
          'block w-full h-20 text-left mb-4 rounded-2xl text-blue-500 text-xl py-3 border border-blue-200 transition-colors duration-300',
          {
            'hover:bg-orange-400 hover:text-white': !option.selected && !this.quizEnded,
            'bg-red-400 text-white': option.selected && !option.isCorrect && !this.quizEnded, 
            'bg-green-400 text-white': option.selected && option.isCorrect && !this.quizEnded,
          }
        ];
      },
      selectOption(option: Option) {
        if (this.quizEnded) return;
        this.$emit('optionSelected', option);
      }
    }
  });
  </script>
  
  <style scoped>
  button:hover {
    border-color: transparent; 
  }
  </style>
  