<!-- eslint-disable vue/multi-word-component-names -->
y<template>
  <div>
    <main class="flex flex-col min-h-screen">
      <h1 class="text-white m-8 font-bold text-4xl">COUNTRY QUIZ</h1>
      <div v-if="!quizEnded && !showResult">
        <BoxComponent>
          <div class="p-10">
            <QuestionOptionComponent
              :question="question"
              :flagUrl="flagUrl"
              :options="options"
              :quizEnded="quizEnded"
              @optionSelected="selectOption"
            />
          </div>
        </BoxComponent>
        <p class="text-white m-6 text-sm text-center">Created by <span class="underline">Ancha Pedro</span> - ONIT challenges</p>
      </div>

      <div v-else>
        <BoxComponent>
          <div class="flex flex-col items-center justify-center mt-8 w-96 ">
            <img src="/src/assets/images/winners.svg" alt="search" class="w-162 h-164 ">
            <p class="font-bold text-blue-800 text-5xl mt-32">Results</p>
            <p class="font-regular text-blue-700 text-xl mt-8">You got <b class="text-green-500 text-4xl">{{ totalCorrectAnswers }} </b> correct answers.</p>
            <button @click="restartQuiz" class="mt-24 w-44 h-14 text-blue-900 text-lg font-bold py-2 px-4 rounded-2xl border border-blue-800">Try Again</button>
          </div>
        </BoxComponent>
      </div>
    </main>
  </div>
</template>




<script lang="ts">
import { defineComponent } from 'vue';
import BoxComponent from './Box.vue';
import QuestionOptionComponent from './QuestionOption.vue'; 
import axios from 'axios';

interface Option {
  letter: string;
  text: string;
  isCorrect: boolean;
  selected: boolean;
}

export default defineComponent({
  components: {
    BoxComponent,
    QuestionOptionComponent 
  },
  data() {
    return {
      question: '',
      options: [] as Option[],
      flagUrl: '',
      totalCorrectAnswers: 0,
      quizEnded: false,
      showResult: false,
      correctOptionIndex: -1,
    };
  },
  mounted() {
    this.loadNextQuestion();
  },
  methods: {
    async loadNextQuestion() {
      try {
        const response = await axios.get<any[]>('https://restcountries.com/v3.1/all?fields=name,capital,flags');
        this.processApiResponse(response.data);
      } catch (error) {
        console.error('Error:', error);
      }
    },
    processApiResponse(data: any[]) {
      const isCapitalQuestion = Math.random() < 0.5;
      const randomCountry = this.getRandomElement(data);

      if (isCapitalQuestion) {
        this.question = `What is the capital of ${randomCountry.name.common}?`;
        this.flagUrl = '';
        this.options = this.generateOptions(randomCountry.capital[0], data);
      } else {
        this.question = `Which country does this flag belong to?`;
        this.flagUrl = randomCountry.flags?.svg;
        this.options = this.generateOptions(randomCountry.name.common, data);
      }

      this.correctOptionIndex = this.options.findIndex(option => option.isCorrect);
    },
    generateOptions(correctAnswer: string, data: any[]): Option[] {
      const options: Option[] = [];
      const letters = ['A', 'B', 'C', 'D'];
      const correctOptionIndex = Math.floor(Math.random() * 4); 
      options[correctOptionIndex] = { letter: letters[correctOptionIndex], text: correctAnswer, isCorrect: true, selected: false };

      for (let i = 0; i < 4; i++) {
        if (i !== correctOptionIndex) {
          let randomIndex: number;
          do {
            randomIndex = Math.floor(Math.random() * data.length);
          } while (data[randomIndex].name.common === correctAnswer || options.some(option => option.text === data[randomIndex].name.common));
          options[i] = { letter: letters[i], text: data[randomIndex].name.common, isCorrect: false, selected: false };
        }
      }

      return options;
    },
    
    selectOption(option: Option) {
      if (this.quizEnded || this.showResult) return;

      option.selected = true;

      if (option.isCorrect) {
        if (this.correctOptionIndex !== -1) {
          this.options[this.correctOptionIndex].selected = true;
        }

        this.totalCorrectAnswers++;

        setTimeout(() => {
          this.resetQuizState();
          this.loadNextQuestion();
        }, 1000);
      } else {
        if (this.correctOptionIndex !== -1) {
          this.options[this.correctOptionIndex].selected = true;
        }

        setTimeout(() => {
          this.quizEnded = true;
          this.showResult = true;
        }, 1000);
      }
    },
    restartQuiz() {
      this.showResult = false;
      this.totalCorrectAnswers = 0;
      this.resetQuizState();
      this.loadNextQuestion();
    },
    resetQuizState() {
      this.question = '';
      this.options = [];
      this.flagUrl = '';
      this.quizEnded = false;
      this.correctOptionIndex = -1;
    },
    getRandomElement(array: any[]): any {
      return array[Math.floor(Math.random() * array.length)];
    }
  }
});
</script>
