<template>
  <div>
    <QuizComponent />
  </div>
</template>

<script lang="ts">
import QuizComponent from '@/components/Quiz.vue';  

export default {
  components: {
    QuizComponent,
  },
}
</script>
