@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Mulish:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('../../assets/images/background.png');

  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}